{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1>Perfil Colegio</h1>
<html lang="en">
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-lg-14">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="../static/plugins/images/large/docente.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="../static/plugins/images/users/colegio.png" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">{{colegio[1]}}</h4>
                                        <h5 class="text-white">{{colegio[5]}}</h5> </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <h2>Director: {{colegio[4]}}</h2>
                                <h2>Telefono: {{colegio[2]}}</h2>
                                <h2>Categoria: {{colegio[3]}}</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                            <div class="col-md-12 col-lg-10 col-sm-12">
                                <div class="white-box">
                                    <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                                    </div>
                                    <h3 class="box-title">Cursos</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>ID</th>
                                                    <th>Nivel</th>
                                                    <th>Promedio</th>
                                                    <th>Cantidad Estudiantes</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    {% for cursocolegio in cursoscolegios %}
                                                    <tr>
                                                        <td>{{cursocolegio[0]}}</td>
                                                        <td>{{cursocolegio[1]}}</td>
                                                        <td>{{cursocolegio[2]}}</td>
                                                        <td>{{cursocolegio[3]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <h2 class="box-title">Actualizar Perfil</h2>
                            <form class="form-horizontal form-material" role="form" action="/colegios/{{colegio[0]}}/update" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label class="col-md-12">Nombre</label>
                                    <div class="col-md-12">
                                        <input type="text" name="nombre" placeholder="Nombre Establecimiento" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Director</label>
                                    <div class="col-md-12">
                                        <input type="text" name="director" placeholder="Nombre Director" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Número de Teléfono</label>
                                    <div class="col-md-12">
                                        <input type="number" name="telefono" placeholder="Número Establecimiento" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-12">Categoría Establecimiento</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line" name="categoria">
                                                <option value="0">0 (Bajo)</option>
                                                <option value="1">1 (Intermedio)</option>
                                                <option value="2">2 (Alto)</option>
                                            </select>
                                        </div>
                                    </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type="submit" class="btn btn-success">Actualizar Colegio</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="static/js/custom.min.js"></script>
</html>

</div>

{% endblock %}