{% extends "base.html" %}

{% block content %}
<div class="row">
        <div class="col-md-12 col-lg-12 col-sm-12">
            <div class="white-box">
                <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                </div>
                <h3 class="box-title">Cursos</h3>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Nivel</th>
                                <th>Promedio</th>
                                <th>Cantidad Estudiantes</th>
                            </tr>
                        </thead>
                        <tbody>
                                {% for cursocolegio in cursoscolegios %}
                                <tr>
                                    <td>{{cursocolegio[0]}}</td>
                                    <td>{{cursocolegio[1]}}</td>
                                    <td>{{cursocolegio[2]}}</td>
                                    <td>{{cursocolegio[3]}}</td>
                                </tr>
                                {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
{% endblock %}