{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1>Perfil Curso</h1>
<html lang="en">
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-lg-14">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="../static/plugins/images/large/docente.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="../static/plugins/images/users/curso.png" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">{{curso[1]}}</h4>
                                        <h5 class="text-white">{{curso[2]}}</h5> </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <h2>ID: {{curso[0]}}</h2>
                                <h2>Promedio: {{curso[3]}}</h2>
                                <h2>Estudiantes: {{curso[4]}}</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                            <div class="col-md-12 col-lg-10 col-sm-12">
                                <div class="white-box">
                                    <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                                    </div>
                                    <h3 class="box-title">Docentes</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>RUT</th>
                                                    <th>Nombre</th>
                                                    <th>Asignatura</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    {% for docentecurso in docentescurso %}
                                                    <tr>
                                                        <td>{{docentecurso[0]}}</td>
                                                        <td>{{docentecurso[1]}}</td>
                                                        <td>{{docentecurso[2]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>

                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <h2 class="box-title"><b>Actualizar Perfil</b></h2>
                            <br>
                            <form class="form-horizontal form-material" role="form" action="/cursos/{{curso[0]}}/update" method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label class="col-md-12">Promedio</label>
                                    <div class="col-md-12">
                                        <input type="text" name="promedio" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Cantidad de Estudiantes</label>
                                    <div class="col-md-12">
                                        <input type="text" name="cantidadEstudiantes" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                        <label class="col-sm-12">Seleccionar Nivel</label>
                                        <div class="col-sm-12">
                                            <select class="form-control form-control-line" name="id_nivel">
                                                {% for nivel in niveles %}
                                                <option value="{{nivel[0]}}">{{nivel[1]}}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button type='submit' class="btn btn-success">Actualizar Perfil</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <h2 class="box-title"><b>Asignar Docente</b></h2>
                            <form class="form-horizontal form-material" role="form" action="/cursos/{{curso[0]}}/asignar"method="post" enctype="application/x-www-form-urlencoded">
                                <div class="form-group">
                                    <label class="col-sm-12">Docente</label>
                                    <div class="col-sm-12">
                                        <select class="form-control form-control-line" name="rut">
                                            {% for docenteseleccion in docentesseleccion %}
                                            <option value="{{docenteseleccion[0]}}">{{docenteseleccion[1]}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-12">Asignatura</label>
                                    <div class="col-md-12">
                                        <input type="text" name = "asignatura" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="col-sm-12">
                                    <button type='submit' class="btn btn-success">Asignar Docente</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="static/js/custom.min.js"></script>
</html>

</div>
{% endblock %}