{% extends "base.html" %}

{% block content %}
<div class="container">
        <h1>Perfil Colegio</h1>
<html lang="en">
        <div id="page-wrapper">
            <div class="container-fluid">
                <!-- /.row -->
                <!-- .row -->
                <div class="row">
                    <div class="col-md-6 col-xs-12 col-lg-14">
                        <div class="white-box">
                            <div class="user-bg"> <img width="100%" alt="user" src="../static/plugins/images/large/docente.jpg">
                                <div class="overlay-box">
                                    <div class="user-content">
                                        <a href="javascript:void(0)"><img src="../static/plugins/images/users/curso.png" class="thumb-lg img-circle" alt="img"></a>
                                        <h4 class="text-white">{{curso[1]}}</h4>
                                        <h5 class="text-white">{{curso[2]}}</h5> </div>
                                </div>
                            </div>
                            <div class="user-btm-box">
                                <h2>Promedio: {{curso[3]}}</h2>
                                <h2>Estudiantes: {{curso[4]}}</h2>
                            </div>
                        </div>
                    </div>
                    
                    <div class="row">
                            <div class="col-md-12 col-lg-10 col-sm-12">
                                <div class="white-box">
                                    <div class="col-md-3 col-sm-4 col-xs-6 pull-right">
                                    </div>
                                    <h3 class="box-title">Cursos</h3>
                                    <div class="table-responsive">
                                        <table class="table">
                                            <thead>
                                                <tr>
                                                    <th>RUT</th>
                                                    <th>Nombre</th>
                                                    <th>Asignatura</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                    {% for docentecurso in docentescurso %}
                                                    <tr>
                                                        <td>{{docentecurso[0]}}</td>
                                                        <td>{{docentecurso[1]}}</td>
                                                        <td>{{docentecurso[2]}}</td>
                                                    </tr>
                                                    {% endfor %}
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>



                    <div class="col-md-8 col-xs-12">
                        <div class="white-box">
                            <form class="form-horizontal form-material">
                                <div class="form-group">
                                    <label class="col-md-12">Nombre</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Director</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Número de Teléfono</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Categoría</label>
                                    <div class="col-md-12">
                                        <input type="text" placeholder="" class="form-control form-control-line"> </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Actualizar Perfil</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /#page-wrapper -->
    </div>
    <!-- /#wrapper -->
    <!-- jQuery -->
    <script src="../static/plugins/bower_components/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="static/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- Menu Plugin JavaScript -->
    <script src="../static/plugins/bower_components/sidebar-nav/dist/sidebar-nav.min.js"></script>
    <!--slimscroll JavaScript -->
    <script src="static/js/jquery.slimscroll.js"></script>
    <!--Wave Effects -->
    <script src="static/js/waves.js"></script>
    <!-- Custom Theme JavaScript -->
    <script src="static/js/custom.min.js"></script>
</html>

</div>
{% endblock %}